# deny access to the top-level git repository:
RewriteEngine On
RewriteRule \.git - [F,L]


<IfModule mod_rewrite.c>
RewriteEngine On
ErrorDocument 404 /skel/index.php
</IfModule>

DirectoryIndex /skel/index.php

